@media (max-width: 1500px) {
    .detail-content {
        padding-top: 100px;
    }
    .sec-desc {
        font-size: 16px;
        line-height: 20px;
        margin-top: 11px;
    }
    .form__group {
        margin-bottom: 13px;
    }
    .detail__pp-top {
        margin-top: 30px;
    }
    
    .pricing__table-wrap {
        height: 40vh;
    }
    .plan__price {
        font-size: 21px;
        line-height: 30px;
    }
    .plan__desc {
        font-size: 12px;
        line-height: 18px;
        margin-top: 14px;
    }
    .pricing__plan label {
        padding: 20px;
    }
    .pricing__table--row td {
        padding: 14px;
        font-size: 14px;
        line-height: 18px;
    }

    .pricing__table--row td svg {
        width: 24px !important;
        height: 24px !important;
    }
    .btn-block {
        padding: 12px 20px;
        font-size: 14px;
    }
    .popup__billing-block {
        margin-top: 18px;
    }
    .popup__plan-price {
        font-size: 26px;
        line-height: 34px;
    }

    .popup__state {
        padding-top: 65px;
    }
}

@media (max-width: 1400px) {
    .pricing__table-wrap {
        height: 34vh;
    }
    .pricing__table--row td {
        padding: 9px 11px;
        font-size: 12px;
    }
}

@media (max-width: 1280px) {
    body {
        font-size: 14px;
        line-height: 20px;
    }
    .display-heading {
        font-size: 25px;
        line-height: 32px;
    }
    .sec-heading {
        font-size: 24px;
        line-height: 34px;
    }
    .site-header {
        padding: 16px 0px;
    }
    .detail-content {
        padding-top: 100px;
        overflow-y: scroll;
    }
    .sec-desc {
        font-size: 14px;
        line-height: 18px;
    }
    .detail__row {
        gap: 80px;
    }
    .detail__form {
        width: 545px;
    }
    .input-label {
        font-size: 14px;
        line-height: 24px;
    }
    .plan__desc {
        font-size: 12px;
        line-height: 18px;
        margin-top: 18px;
    }
    .pricing__table-wrap {
        height: 210px;
    }
    .pricing__table--row td {
        padding: 8px;
        font-size: 12px;
    }
    .pricing__table--row td svg {
        width: 22px;
        height: 22px;
    }

    .popup__cards-title {
        font-size: 16px;
        line-height: 22px;
    }
    .popup__state {
        padding-top: 45px;
    }
    .popup__state-title {
        font-size: 30px;
        line-height: 40px;
    }
    .popup__state-desc {
        width: 100%;
    }
    
}


@media (max-width: 991px) {
    .detail-content {
        padding-top: 120px;
        overflow-y: scroll;
        padding-bottom: 100px;
    }
    .detail__form {
        width: 445px;
    }
    .pricing__table--block {
        display: none;
    }
    .pricing__cards-wrap {
        grid-template-columns: 1fr;
        gap: 38px;
    }
    .pricing__row {
        grid-template-columns: 1fr;
    }
    .plan__features {
        display: block;
    }
}


@media (max-width: 768px) {
    body {
        font-size: 16px;
        line-height: 24px;
    }
    .display-heading {
        font-size: 24px;
        line-height: 28px;
    }
    .sec-desc {
        margin-top: 8px;
    }
    .header__logo-wrap img {
        width: 128px;
    }
    .detail-content {
        padding-top: 107px;
    }
    .detail__list {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
    }
    .detail__list-item {
        padding-left: 0;
        font-size: 12px;
        margin-bottom: 40px;
    }
    .detail__list-item::before {
        top: 28px;
        left: 0;
    }
    .detail__list-item.current::before {
        width: 12px;
        height: 12px;
        top: 28px;
    }
    .detail__list-item::after {
        width: 100%;
        height: 1.5px;
        top: 33px;
        left: 21px;
    }
    .detail__list-item:nth-child(1) {
        width: 43%;
    }
    .detail__row {
        gap: 20px;
        grid-template-columns: 1fr;
    }
    .detail__form {
        width: 100%;
        margin-top: 24px;
    }
    .input-label {
        font-size: 16px;
    }
    .detail__pp-top {
        font-size: 16px;
        line-height: 27px;
    }
    .detail__pp-desc {
        margin-top: 8px;
        font-size: 14px;
        line-height: 21px;
    }
    .detail__list-item.complete::after {
        background: linear-gradient(90deg, rgba(225, 226, 227, 0) -4.39%, #694EFB 50.68%);
    }
    .form__row {
        flex-direction: column;
        gap: 0;
    }
}


@media (max-width: 480px) {
    .iconic-btn {
        font-size: 14px;
        line-height: 18px;
    }
    .badge {
        display: none;
    }
    .detail-content {
        padding-bottom: 180px;
    }
    .detail__list-item:nth-child(1), .detail__list-item:nth-child(2) {
        width: 40%;
    }
    .detail__list-item {
        font-size: 10px;
    }
    .detail__list-item::after {
        left: 11px;
    }
    .detail__list-item::before {
        outline: 8px solid #fff;
        z-index: 10;
    }
    .pricing__toggle {
        width: 100%;
    }
    .pricing__toggle-btn {
        width: 100%;
    }
    .pricing__cards-wrap {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .plan__desc {
        font-size: 14px;
        line-height: 20px;
    }
    
    .detail__btm-row {
        flex-direction: column-reverse;
    }
    .detail__btm-row .btn{
        width: 100%;
        padding: 9px 20px;
    }

    .popup__inner {
        padding: 70px 16px 39px 16px;
    }
    .popup__cards-wrap {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .popup__cards-row img {
        width: 50px;
    }
    .btn-block {
        padding: 14px 20px;
        font-size: 16px;
    }
    .popup__billing-item {
        font-size: 14px;
        line-height: 21px;
        padding: 8px 20px;
    }
    .popup__btm {
        margin-top: 32px;
        padding-top: 16px;
    }
    .popup__total-price {
        font-size: 16px;
    }
    .popup__plan-price {
        font-size: 23px;
        line-height: 30px;
    }

    .close-popup {
        right: 16px;
        left: auto;
    }

    .popup__state-cap {
        width: 100%;
        margin: auto auto auto auto;
        padding-bottom: 40px;
    }
    .popup__state-title {
        font-size: 24px;
        line-height: 28px;
    }
    .popup__state-desc {
        font-size: 14px;
        line-height: 21px;
    }
}