/* colors */
:root {

    --color-dark-greenish-blue: #0B0B1C;

    --primary-color: #2E65F3; 
    --dark-color: #212122;
    --text-color: #0B0B1CA6;
    --white-color: #fff;
    --color-purple: #4C64D9;
    --color-light-gray: #F5F5F4;
    --color-dark-blue: #006FEE;
    --color-black: #000;
    --color-black-transparent-50: rgba(0, 0, 0, 0.50); 
    --color-half-gray: #FAFAF8;
    --transparent-dark-blue: rgba(0, 17, 102, 0.10);
    --color-primary-transparent: rgba(48, 111, 241, 0.10);
    --color-half-white: #E1E3EC;
    --color-light: #FFFFFF1A;
    --color-grey: #DDDCDC;
    --color-dark: #0A1119;
    --color-blue: #694EFB;
    --color-teal-blue: #647791;
    --color-dark-2: #1A1F3C;
    --color-dark-greenish-blu-25: rgba(11, 11, 28, 0.25);
    --color-blue-1150BC: #1150BC;
    --color-light-gray-2: #888B9E;
    --color-light-gray-3: #ECECEC;
    --color-custom-dark: rgba(0, 6, 38, 0.90);
    --color-semi-transparent-dark: rgba(25, 31, 59, 0.12);
    --color-dark-gray: #545460;
    --color-dark-charcoal: #292D32; 
    --color-light-blue: #CED2E2;
    --color-custom-light-blue: #ECEAFF;
    --color-custom-blue: #000626;
    --color-light-blue-gray: #E5E7F0;
    --color-light-gray-4: #F0F1F0;
    --color-transparent-white: rgba(255, 255, 255, 0.10);
    --color-custom-primary: #2E65F3;
    --color-custom-primary-2: #295de5;
    --color-custom-light: #E6E7F0;
    --color-custom-grey: #BDBDBD;
    --color-light-transparent: rgba(0, 21, 128, 0.04);
    --color-light-transparent-2: rgba(0, 17, 102, 0.1);
    --color-white-transparent: rgba(255, 255, 255, 70%);
    --color-white-transparent-2: rgba(255, 255, 255, 80%);
    --color-dark-blue-transparent: rgba(0, 13, 77, 0.45); 
    --color-light-gray-3: rgba(0, 9, 51, 0.65); 
}

/* typography */

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text-color);
}

/* h1 */
.display-heading {
    font-size: 30px;
    line-height: 39px;
    color: var(--color-black);
    text-transform: capitalize;
}

/* h2  */
.sec-heading {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: var(--color-dark-greenish-blue);
}

/* h3 */
.sec-subheading {
    font-size: 20px;
    line-height: 30px;
    color: var(--color-dark-greenish-blue);
    font-weight: 500;
}


/* utility classes */

.container {
    width: 1420px;
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
}
.sec-desc {
    font-size: 20px;
    line-height: 28px;
    margin-top: 16px;
}
.badge {
    padding: 5px 16px;
    border-radius: 4px;
    background-color: var(--color-dark-2);
    color: var(--white-color);
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    position: absolute;
    top: -14px;
    right: 8px;
}
.toggle--active {
    background-color: var(--white-color) !important;
}
.txt-uppercase {
    text-transform: uppercase;
}
.int-blur {
    filter: blur(3px);
}



/* --- buttons --- */

.btn {
    padding: 5px 28px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    color: var(--white-color);
    background-color: var(--color-custom-primary);
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    transition: all .2s ease;
    text-transform: capitalize;
    &:hover {
        background-color: transparent;
        color: var(--color-custom-primary);
    }
}
.btn--lg {
    font-size: 16px;
    line-height: 24px;
    padding: 9px 20px;
}
.btn--outline {
    font-size: 16px;
    line-height: 24px;
    padding: 9px 20px;
    background-color: transparent;
    border-color: var(--color-light-gray-3);
    color: var(--color-light-gray-3);

}
.btn--outline:hover {
    background-color: var(--color-light-gray-3);
    color: var(--white-color);
}
.iconic-btn {
    color: var(--color-dark-greenish-blue);
}
.link-btn {
    padding: 6px 15px;
    color: var(--color-purple);
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-decoration: underline;
}
.btn-row {
    display: flex;
    align-items: center;
    gap: 16px;
}
.btn-iconwrap {
    display: flex;
    align-items: center;
}
.btn-cap  {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* -- header --*/
.site-header {
    padding: 24px 0px;
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: var(--white-color);
}
.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* -- forms -- */
.form__group {
    position: relative;
    width: 100%;
    transition: all .5s ease;
    margin-bottom: 24px;
}
.input-label {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 2px 4px;
    background-color: var(--white-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 10px;
    color: var(--color-teal-blue);
    pointer-events: none;
    transition: all .4s ease;
}
.form-control {
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    background-color: var(--white-color);
    font-weight: 500;
    color: var(--color-dark);
    min-height: 48px;
    padding: 8px 12px;
    width: 100%;
    flex: 1;
}
input:focus + .input-label, input:not(:placeholder-shown) + .input-label {
    font-size: 12px;
    line-height: 12px;
    color: var(--color-blue-1150BC);
    top: -7px;
    left: 16px;
    font-weight: 600;
}
input:focus, input:not(:placeholder-shown) {
outline: 2px solid var(--color-blue-1150BC);
border-color: transparent;
}
input[type="checkbox"] {
width: 20px;
height: 20px;
border-radius: 6px;
border: 1.6px solid var(--color-dark-blue) !important;
outline: none !important;
    &:checked {
        background-image: url(/assets/check.svg);
        background-color: var(--color-dark-blue);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 11px;
    }
}
input[type="radio"] {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 2px solid var(--color-custom-grey) !important;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="radio"]:checked {
    border-color: var(--color-dark-blue) !important;
}
input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--color-dark-blue);
    border-radius: 100%;
}

/* -- form success and error start -- */
.popup__state {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 145px;
}
.popup__state-cap {
    width: 90%;
    text-align: center;
    margin: 0px auto;
    color: var(--color-dark-greenish-blue);
}
.popup__state-title {
    font-size: 36px;
    line-height: 43px;
    margin-top: 24px;
}
.popup__state-desc {
    width: 90%;
    margin: 8px auto;
}
.popup__state-btn {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 16px;
}

/* -- checkout popup -- */

.popup {
    background-color: var(--color-dark-greenish-blu-25);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    display: none;
}
.popup__inner {
    width: 547px;
    max-width: 100%;
    height: 100vh;
    overflow: scroll;
    margin-left: auto;
    background-color: var(--white-color);
    padding: 60px 32px 55px 24px;
    position: relative;
}
.popup__cards-wrap {
    margin-top: 24px;
    margin-bottom: 24px;
}
.popup__cards-title {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: var(--color-dark-greenish-blue);
}
.popup__cards-row {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 7px;
}
.btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid var(--color-teal-blue);
}
.popup__body {
    margin-top: 28px;
}
.popup .form__group {
    position: relative;
    width: 100%;
    transition: all .5s ease;
    margin-bottom: 16px;
}
.form__row {
    display: flex;
    gap: 24px;
}
.popup__billing-block {
    margin-top: 24px;
}
.popup__billing-wrap {
    padding: 4px;
    border-radius: 8px;
    background-color: var(--color-light-gray);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-top: 8px;
}
.popup__billing-item {
    padding: 4px;
    border-radius: 8px;
    padding: 8px 24px;
    cursor: pointer;
}
.popup__billing-item.active {
    background: var(--white-color);
}
.popup__billing-categ {
    display: block;
    font-weight: 600;
    color: var(--color-dark-2);
}
.popup__btm {
    margin-top: 28px;
    padding-top: 24px;
    border-top: 1.5px solid var(--color-half-white);
}
.popup__total-price {
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-dark-greenish-blue);
}
.popup__plan-price {
    font-size: 36px;
    line-height: 43px;
}
.popup__desc {
    font-size: 14px;
    line-height: 21px;
    margin-top: 24px;
}
.popup__btn-wrap {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}
.close-popup {
    background: var(--white-color);
    border: none;
    position: absolute;
    top: 16px;
    border-radius: 100%;
    padding: 5px;
    left: 16px;
}


/* -- layout --*/

.detail-content {
    padding-top: 140px;
    height: 100vh;
    overflow: hidden;
}
.detail__row {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 110px;
}
.detail__list {
    margin-top: 32px;
}
.detail__list-item {
    padding-left: 32px;
    position: relative;
    margin-bottom: 62px;
    color: var(--color-light-gray-2);
    font-weight: 600;
    text-transform: uppercase;
}
.detail__list-item.current {
    color: var(--color-blue);
}

.detail__list-item.current::before {
    width: 24px;
    height: 24px;
    background: var(--color-blue);
    left: 0;
    top: 0;
}
.detail__list-item::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: var(--color-light-gray-2);
    border-radius: 100%;
    left: 6px;
    top: 6px;
}
.detail__list-item::after {
    content: '';
    position: absolute;
    left: 11px;
    width: 1.5px;
    height: 55px;
    background: var(--color-grey);
    top: 28px;
}
.detail__list-item.complete {
    color: var(--color-blue);
}
.detail__list-item.complete::before {
    background: var(--color-blue);
}
.detail__list-item.complete::after {
    background: linear-gradient(180deg, rgba(225, 226, 227, 0) -4.39%, #694EFB 50.68%);
    
    
}
.detail__list-item:last-child::after {
    display: none;
}
.detail__form {
    margin-top: 32px;
    width: 495px;
    max-width: 100%;
}
.detail__pp-top {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 8px;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-dark-greenish-blue);
}
.detail__pp-desc {
    margin-top: 8px;
    
}
.detail__btm {
    position: fixed;
    bottom: 0;
    background-color: var(--white-color);
    border-top: 1px solid var(--color-grey);
    width: 100%;
    padding: 20px 0px;
}
.detail__btm-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}
.pricing__row {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 35px;
    margin-top: 24px;
}
.pricing__toggle {
    background-color: var(--color-light-gray);
    padding: 4px;
    border-radius: 8px;
    width: 239px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pricing__toggle-btn {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    background: transparent;
    transition: background .3s ease;
}

.pricing__cards-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}
.pricing__plan {
    color: var(--color-black);
    position: relative;
}
.pricing__plan label {
    padding: 24px;
    display: block;
    border-radius: 12px;
    border: 1px solid var(--transparent-dark-blue);
    box-shadow: 0px 9px 15px 0px var(--color-semi-transparent-dark);
    background-color: var(--white-color);
    cursor: pointer;
}
.plan__head {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    margin-bottom: 8px;
}
.plan__price-wrap {
    font-size: 14px;
}
.plan__price {
    font-size: 32px;
    line-height: 38px;
    margin-right: 4px;
}
.plan__desc {
    margin-top: 24px;
}
.plan__features {
    margin-top: 24px;
    display: none;
}
.plan__features-btn {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.plan__list {
    display: none;
}
.plan__list-item {
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    padding-left: 22px;
    background-image: url(../assets/check-list.svg);
    background-repeat: no-repeat;
    background-position: left center;
}
.show-features .plan__list {
    display: block;
}
.show-features .plan__features-btn img {
    transform: rotate(-180deg);
    transition: transform .3s ease;
}

.pricing__table-wrap {
    height: 43vh;
    overflow: scroll;
}
.pricing__table {
    width: 100%;
    border-top: 1px solid var(--transparent-dark-blue);
    margin-top: 24px;
}
.pricing__table--row {
    border-bottom: 1px solid var(--transparent-dark-blue);
}
.pricing__table--row td:first-child {
    width: 40%;
    text-align: left;
    font-weight: 500;
    color: var(--color-dark-greenish-blue);
}
.pricing__table--row td {
    width: 20%;
    text-align: center;
    padding: 16px;
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
}
.pricing__table--row td:nth-child(even){
    background: var(--color-light-gray);
}
.pricing__table .fa-solid,.fa-regular {
    font-size: 27px;
    opacity: 0.65;
    color: var(--color-blue);
}
.pricing__table .fa-window-minimize {
    height: 10px;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;
}

